.Post-Container>div {
    padding: 0;
}

.post-recommendation{
    background-color: whitesmoke;
}

.post-recommendation>h6{
    font-size: x-large;
    font-weight: bolder;
    text-transform: capitalize;
    text-align: center;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.221);
}

.post-rec-section>img {
    width: 20%;
    margin-right: 4px;
}

.post-rec-section {
    display: flex;
    padding: 8px;
    background-color: white;
    margin: 10px 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.248), -2px -2px 5px rgba(0, 0, 0, 0.248);
}

.post-rec-section:hover{
    background-color: aliceblue;
    cursor: pointer;
}

.post-inner-section>h5{
    margin: 10px 5px;
    text-transform: uppercase;
    font-weight: bolder;
}
.post-inner-section>img{
    width: 100%;
}

.post-inner-section>p{
    white-space: pre-wrap;
    word-break: break-word;
    font-family: 'Lora', serif;
    padding: 3px;
    margin: 2px 8px;
    text-align: justify;
}

.rating-blog{
    font-family: 'Times New Roman', Times, serif;
    background-color: whitesmoke;
    padding: 12px;
    text-align: center;
    font-size: larger;
}


.rating-sub-btn{
    padding: 2px 25px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.262);
    transition: all 0.3s;
    color: white;
    background-color: #155b6e;
}

.rating-sub-btn:hover{
    color: white;
    cursor: pointer;
    background-color: #155b6ec1;
    /* background-color: brown; */
}

.rating-sub-btn-disabled{
    padding: 2px 25px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.262);
    color: lightgray;
    background-color: #155b6ec1;
}

.author-sepcific span{
    cursor: pointer;
    font-size: 10px;
}

.author-sepcific{
    display: flex;
    justify-content: space-between;
}

.load-more-btn>input{
    padding: 6px 20px;
    border-radius: 20px;
    background-color: #ffbd03;
    color: white;
    cursor: pointer;
    border: none;
}

.load-more-btn>input:hover{
    background-color: goldenrod;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.249);
}